.TextBubble {
  border-radius: 10px;
  padding-bottom: 20px;
  width: 60%;
  margin: 0 auto;
  margin-top: 2.5rem;
  padding-top: 1px;
  line-height: 50px;
}

.TextBubble a {
  font-size: 20px;
  color: white;
  font-weight: bolder;
  text-align: center;
}

.TextBubble h1 {
  text-align: center;
  font-size: 50px;
  color: rgb(255, 174, 0);
}
